extends layout
block content
    #map
    script.
        var myData = !{JSON.stringify(jsonData)};
        // Create variable to hold map element, give initial settings to map
        var map = L.map('map', {center: [myData[0].geometry.coordinates[1], myData[0].geometry.coordinates[0]], zoom: 14});
        // Add OpenStreetMap tile layer to map element
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: 'GIS ITBA'
        }).addTo(map);
        // Add JSON to map
        L.geoJson(myData, {
            onEachFeature: function (feature, layer) {
                layer.bindPopup(getStringField(feature.properties));
            }
        }).addTo(map);

        function getStringField(prop) {
            var text = "<table>"
            if(prop.Location !== undefined){
                text = text + "<tr><td>Direccion:</td><td>"+prop.Location+"</td></tr>";
            } else if(prop.f1 !== undefined) {
                text = text + "<tr><td>Direccion:</td><td>"+prop.f1+"</td></tr>";
            }
            if(prop.Description !== undefined) {
                text = text + "<tr><td>Descripcion:</td><td>"+prop.Description+"</td></tr>";
            } else if(prop.f2 !== undefined) {
                text = text + "<tr><td>Descripcion:</td><td>"+prop.f2+"</td></tr>";
            }
            if(prop.time !== undefined) {
                text = text + "<tr><td>Horario:</td><td>"+prop.time+"</td></tr>";
            } else if(prop.f3 !== undefined) {
                text = text + "<tr><td>Horario:</td><td>"+prop.f3+"</td></tr>";
            }
            return text + "</table>";
        }
