doctype html
html
  head
    title Top IP
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body
    .wrapper
      canvas#doughnut-chart(width='800', height='450')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='/javascripts/testing.js')